<h2> <%= @project.name %></h2>

<span class="badge badge-success">  Дата старта: <%= @project.start_date %></span>
<span class="badge badge-primary">  Дата завершения: <%= @project.end_date %></span>
<hr>
<p><%= @project.summary %></p>
<hr>
<%= link_to "Назад", projects_path, :class => 'btn btn-outline-secondary'%>
<% if user_signed_in? %>
<%= link_to "Редактировать", edit_admin_project_path(@project),
:class => 'btn btn-outline-primary'%>

<%= link_to "Удалить проект", admin_project_path(@project), method: :delete, data:
{confirm: "Хотите удалить проект?"}, :class =>'btn btn-outline-danger' %>

<%= link_to "Добавить задачу",  new_project_task_path(@project),
:class => 'btn btn-outline-success'%>
<% end %>
<hr>
<h3>Задачи к проекту:</h3>
<hr>
<div class="row">
<%= render @project.tasks %>
</div>
